html,
body {
    font-family: 'Hind', sans-serif;
    height: 100%;
}

#site {
    background-color: #8d461d;
    min-height: 100%;
    position: relative;
}

header {
    background-color: #2e9405;
}

.body {
    background-color: #88f7b2;
}

#podcast {
    background-color: #F2F2F2;
    margin-bottom: 34px;
    height: 45px;
    border-radius: 7px;
}

#podcast-left {
    margin: auto;
    padding-left: 20px;
    background-color: #B21F24;
    width: 400px;
    height: 100%;
    line-height: 45px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#podcast-right {
    color: #4d4d4d;
    margin: auto;
    height: 100%;
    line-height: 45px;
    font-weight: 400;
    padding-left: 420px;
}

.aside {
    background-color: #ff1493;
    float: right;
}

#notificacao {
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 100;
}

#footer {
    background-color: #FFFFFF;
    border-top: #bbb9b9 solid;
    border-top-width: 0.5px;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

#footerTop {
    background-color: #F2F2F2;
    height: 100px;
}

#footerLogo {
    /* Centralizado verticalmente: */
    margin: auto;
    display: block;
    position: relative;
    top: 25%;
}

#footerLogo img {
    width: 147px;
    height: 47px;
    margin: auto;
    display: block;
}

#footerBottom {
    margin: 20px 65px;
}

#footerMenu {
    display: block;
    float: left;
    font-size: 12px;
}

#footerMenu ul li {
    display: inline-block;
}

#footerMenu ul li a {
    padding: 2px 40px;
    display: inline;
    color: #4d4d4d;
}

#footerMenu ul li a:hover {
    color: #b21f24;
}

#footerSocialNetwork {
    display: block;
    float: right;
    margin-bottom: 10px;
}

#footerSocialNetwork a {
    padding: 2px 5px;
}

#footerSocialNetwork i {
    color: #BFBFBF;
}