html,
body {
    color: #FFFFFF;
    font-family: 'Hind', sans-serif;
    color: #4d4d4d;
    height: 100%;
}

#site {
    background-color: #FFFFFF;
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #272425;
}

a:link {
    text-decoration: none;
    /* color: #272425; */
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #B21F24;
}

a:active {
    text-decoration: none;
}

header {
    display: table;
    width: 100%;
}

#headerTop {
    margin-top: 10px;
    font-size: 11px;
}

#socialNetwork {
    float: left;
    width: 80%;
}

#socialNetwork a {
    color: #BFBFBF;
    padding: 2px 5px;
}

#headerTitle {
    text-align: center;
    margin: 20px 0 0 0;
}

#logo {
    width: 70%;
    position: relative;
    float: left;
}

#search {
    width: 30%;
    height: 100%;
    float: right;
    text-align: right;
}

#headerMenu {
    padding-top: 120px;
    margin-bottom: 35px;
    border-bottom: #bbb9b9 solid;
    border-bottom-width: 0.2px;
}

#podcast {
    background-color: #F2F2F2;
    margin-bottom: 34px;
    height: 45px;
    border-radius: 7px;
}

#podcast-left {
    margin: auto;
    padding-left: 20px;
    background-color: #B21F24;
    width: 400px;
    height: 100%;
    line-height: 45px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#podcast-right {
    margin: auto;
    height: 100%;
    line-height: 45px;
    font-weight: 400;
    padding-left: 420px;
}

#noticias1 {
    display: grid;
    grid-template-columns: auto 360px;
}

#noticias1-left {
    vertical-align: top;
    display: inline-block;
    height: 100%;
}

#noticias1-left-2-col img {
    width: 359px;
    height: 260;
    float: left;
    margin-right: 29px;
    margin-bottom: 150px;
}

#noticias1-left-2-col h1 {
    font-weight: bold;
    text-align: left;
    font-size: 26px;
    margin-top: 24px;
}

#noticias1-left-2-col-right {
    margin-left: 29px;
    margin-right: 29px;
}

#noticias1-left-2-col-right i {
    color: #cac7c9;
}

#noticias1-left-2-col-mais {
    font-size: 13px;
    margin-bottom: 60px;
}

#noticias1-left-3-col {
    padding-top: 32px;
    margin-right: 29px;
}

#noticias1-left-3-col p {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 500;
}

.image-cover {
    height: 230px;
    width: 100%;
}

#middle-card {
    padding-left: 30px;
    padding-right: 30px;
}

.autor {
    margin-right: 10px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.autor-name {
    font-size: 12px;
}

#noticias1-right {
    background-color: #F2F2F2;
    vertical-align: top;
    display: inline-block;
    font-size: 17px;
    padding: 32px 25px;
    height: 620px;
}

#noticias1-right-titulo {
    font-size: 34px;
    font-weight: bold;
}

#noticias1-right-ultima {
    color: #B21F24;
}

#noticias1-right-mais-noticias {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#blogs-colunas {
    margin-top: 50px;
    background-color: #BFBFBF;
}

#notificacao {
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 100;
}

#footer {
    background-color: #FFFFFF;
    border-top: #bbb9b9 solid;
    border-top-width: 0.5px;
    width: 100%;
    height: 100px;
    position: absolute;
    /* bottom: 0; */
}

#footerTop {
    background-color: #F2F2F2;
    height: 100px;
}

#footerLogo {
    /* Centralizado verticalmente: */
    margin: auto;
    display: block;
    position: relative;
    top: 25%;
}

#footerLogo img {
    width: 147px;
    height: 47px;
    margin: auto;
    display: block;
}

#footerBottom {
    margin: 20px 65px;
}

#footerMenu {
    display: block;
    float: left;
    font-size: 12px;
}

#footerMenu ul li {
    display: inline-block;
}

#footerMenu ul li {
    padding: 2px 40px;
    display: inline;
}

#footerSocialNetwork {
    display: block;
    float: right;
    margin-bottom: 10px;
}

#footerSocialNetwork a {
    padding: 2px 5px;
}

.icons-color {
    color: #BFBFBF;
}

.etiqueta {
    background-color: #75A7D6;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 26px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}